/* Estilos archivo externo  */

body {
  background-color: #000124;
  text-align: center;
}

* {
  font-family: sans-serif;
  color: #e4e4e1; 
}

p {
  font-size: 16px;
  line-height: 1;
} 
  
.titulo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
}

.titulo_principal {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: -17px;
}

.subtitulo_principal {
  font-size: 26px;
  font-weight: semi;
}
  
/* Style the links as buttons */
a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000124;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  border: 2px solid #000124;
}

/* Style each link with a different border color */
a:nth-child(4) {
  border-color: #ffffff;
}
a:nth-child(5) {
  border-color: #ffffff;
}
a:nth-child(6) {
  border-color: #ffffff;
}
a:nth-child(7) {
  border-color: #ffffff;
}

.btn-volver {
  display: inline-block;
  padding: 8px 16px;
  background-color: #ffffff;
  color: #000124;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  border: 2px solid #000124;
  border-color: #fff;
}

.btn-volver:hover {
  background-color: #000124;
  color: #ffffff;
  border-color: #fff;
}

.btn-volver:focus {
  outline: none;
  border-color: #fff;
}

.btn-volver:active {
  transform: translateY(1px);
  border-color: #fff;
}

.button-container{
  text-align: center;
}

.btn-volver-container {
  text-align: left;
}

.plot-container {
  text-align: center;
}

#index-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}